<div class="order-container">
    <h1>My Orders</h1>
    <div *ngFor="let order of orders" class="order-card">
        <div class="order-header">
            <div>
                <h2>Order #{{ order.id }}</h2>
                <p>Date: {{ order.orderDate | date: 'medium' }}</p>
            </div>
            <div class="order-total">
                <p><strong>Total:</strong>{{ order.totalPrice }} EGP</p>
            </div>
        </div>
        <div class="user-info">
            <p><strong>Name:</strong> {{ order.userName }}</p>
            <p><strong>Email:</strong> {{ order.email }}</p>
            <p><strong>Address:</strong> {{ order.address }}</p>
            <p><strong>City:</strong> {{ order.city }}</p>
            <p><strong>Phone:</strong> {{ order.phoneNumber }}</p>
        </div>
        <div class="products">
            <h3>Products</h3>
            <div class="product-card" *ngFor="let product of order.productDetails">
                <img [src]="product.imageCoverUrl" alt="Product Image">
                <div class="product-info">
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.description }}</p>
                    <p><strong>Price:</strong>{{ product.price }} EGP</p>
                </div>
            </div>
        </div>
    </div>
</div>