<div class="login-container">
    <div class="login-box">
        <h2>Login</h2>
        <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="Email" class="form-control"
                    placeholder="Enter your email" />
                <div class="error-message" *ngIf="LoginForm.get('email')?.invalid && LoginForm.get('email')?.touched">
                    * A valid email is required.
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="Password" class="form-control"
                    placeholder="Enter your password" />
                <div class="error-message"
                    *ngIf="LoginForm.get('password')?.invalid && LoginForm.get('password')?.touched">
                    * Password must be at least 6 characters long.
                </div>
            </div>
            <div *ngIf="errmesg" class="error-message">{{ errmesg }}</div>
            <button type="submit" [disabled]="LoginForm.invalid || isloading" class="login-button">
                {{ isloading ? 'Logging in...' : 'Login' }}
            </button>
        </form>
    </div>
</div>