<div class="category-container">
    <div class="category-card" *ngFor="let category of categories">
        <a [routerLink]="['/categorydetails', category.id]" class="category-link">
            <img [src]=" category.imageUrl" alt="{{ category.name }}" class="category-image" />
            <div class="category-details">
                <h3 class="category-name">{{ category.name }}</h3>
                <p class="category-description">{{ category.description }}</p>
            </div>
        </a>
    </div>
</div>