<div class="register-container">
    <div class="register-card">
        <h2 class="register-title">Register</h2>

        <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
        <div *ngIf="errmesg" class="alert alert-danger">{{ errmesg }}</div>

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="FullName">Full Name</label>
                <input id="FullName" formControlName="FullName" type="text" class="form-control"
                    [class.is-invalid]="registerForm.get('FullName')?.invalid && registerForm.get('FullName')?.touched"
                    placeholder="Enter your full name" />
                <div class="invalid-feedback"
                    *ngIf="registerForm.get('FullName')?.invalid && registerForm.get('FullName')?.touched">
                    Full Name is required.
                </div>
            </div>

            <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" formControlName="Email" type="email" class="form-control"
                    [class.is-invalid]="registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched"
                    placeholder="Enter your email" />
                <div class="invalid-feedback"
                    *ngIf="registerForm.get('Email')?.invalid && registerForm.get('Email')?.touched">
                    Please provide a valid email.
                </div>
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input id="Password" formControlName="Password" type="password" class="form-control"
                    [class.is-invalid]="registerForm.get('Password')?.invalid && registerForm.get('Password')?.touched"
                    placeholder="Enter your password" />
                <div class="invalid-feedback"
                    *ngIf="registerForm.get('Password')?.invalid && registerForm.get('Password')?.touched">
                    Password must be at least 1 character long.
                </div>
            </div>

            <button [disabled]="isloading || !registerForm.valid" class="btn btn-primary w-100">
                {{ isloading ? 'Registering...' : 'Register' }}
            </button>
        </form>

        <p class="mt-3 text-center">
            Already have an account?
            <a routerLink="/login" class="text-main">Login here</a>.
        </p>
    </div>
</div>